body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
    height: 46px;
    width: 46px;
    margin: .5em;
    border-radius: 50%;
    border: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    background: #7c7c7c2b;
    color: white;
    border-radius: 18px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 105%;
    padding: .5em 1em;
    width: calc(100% - 80px);
}

button:hover {
    background: #7c7c7c6b;
}

.description {
    text-transform: capitalize;
    margin-left: 10px
}

.flex {
    display: flex;
    align-items: center;
}

h1.temp {
    margin: 0;
    margin-bottom: .4em;
}

img.icon {
    height: 35px;
    width: 35px;
}

h3.date {
    font-size: 90%;
    margin: inherit;
}

.fourDay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0em .3em;
    padding: 0em 1em;
    border-right: 1px solid;
}

.day.Five {
    border-right: none;
}

.fourDay div img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wind {
    padding-bottom: 1.5em;
}

div div div h3 {
    font-size: 95%;
}

h2.forecastTitle {
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    display: none;
}

.forecastTitle.loading {
    display: none;
}

@media only screen and (max-width: 375px) {
    .day {
        border: none;
        margin: 0em 0em;
        padding: 0em .5em
    }

    .fourDay div img {
        height: 50px;
        width: 50px;
    }
}